:root {
    --clr-primary: #bdc5cb;
}

.line-custom {
    width: 100%;
    height: 3px;
    background: var(--clr-primary) !important;
}

.footer {
    background: var(--clr-primary);
}

.header {
    background-color: var(--clr-primary);
}